{% extends 'base.html.twig' %}

{% block title %}New produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('articles') }}">back to list</a>
{% endblock %}
